{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "modules": false
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "transform-vue-jsx",
    [
      "import",
      {
        "libraryName": "vant",
        "libraryDirectory": "es",
        "style": true
      }
    ]
  ],
  "env": {
    "test": {
      "presets": ["power-assert"],
      "plugins": ["istanbul"]
    }
  }
}
